.btn-search {
  background-image: url("./icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: default !important;
}

.logo {
  background-image: url("./images/logo.png");
  height: 250px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.pointer {
  cursor: pointer;
}
